.about-page {
    background-color: var(--light-background);
}

.about-hero {
    padding: 120px 1% 80px;
    text-align: center;
}

.about-hero h1 {
    position: relative;
    z-index: 2;
    margin-bottom: -55px;
    color: var(--dark-color);
    font-size: 72px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -3px;
}

.about-hero h1 span {
    color: transparent;
    -webkit-text-stroke: 1px var(--white-color);
}

.about-hero-image {
    width: 100%;
    height: 570px;
    border-radius: 25px;
    background-image: url("images/about/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}